@import 'global/variables';
@import 'global/breakpoints';

.header {
  display: flex;
  flex: 1;
  border-bottom: $border_one;
  align-items: flex-end;

  .header_content {
    display: flex;
    flex: 1;
    align-items: baseline;

    a {
      display: flex;
      color: $font_color_primary;
      text-decoration: none;
      cursor: default;
      align-items: baseline;

      &.hover_pointer {
        &:hover {
          color: $font_color_charcoal;
          cursor: pointer;
        }
      }

      &:visited {
        color: $font_color_primary;
      }
    }

    .text_container_one {
      display: flex;
      flex: 1;
      margin: 0;
      color: $font_color_primary;
      align-items: baseline;

      .one {
        margin: $margin_extra_small;
        font-size: $font_size_large;
        font-weight: 100;
      }
    }

    .text_container_two {
      display: flex;
      flex-direction: column;
      margin: $margin_extra_small;
      justify-content: flex-end;
      align-self: flex-end;

      div {
        margin-bottom: $margin_extra_small;
      }

      img {
        width: 185px;
        max-width: 185px;
        height: 19px;
        max-height: 19px;
      }
    }
  }
}
