<div local-class="header">
  <div local-class="header_content">
    <div local-class="text_container_one">
      <nav>
      <LinkTo @route='index' aria-label="Bay Chiro's banner - click to go to home page" local-class="{{unless @indexPage "hover_pointer"}}">
      <span local-class="one">
        Bay <br />
        Chiropractic <br />
        Center
      </span>
      </LinkTo>
      </nav>
    </div>
    <address local-class="text_container_two" aria-label="Our Email">
      <div>
        207-999-8888
      </div>
      <picture>
        <source 
          srcset="/assets/images/email.webp"
          loading="eager"
          alt="Bay Chiro's Email Address"
          type="image/webp">
        <img
          src="/assets/images/email.webp"
          loading="eager"
          alt="Bay Chiro's Email Address">
      </picture>    
    </address>
  </div>
</div>
