@import 'global/variables';
@import 'global/breakpoints';

.logo {
  display: flex;
  height: $height_xxl;
  min-height: 0;
  max-height: $height_xxl;
  flex: 1;
  margin: 0 $margin_medium;
  justify-content: center;
  align-items: center;

  @include breakpoint(large) {
    height: $height_xxl;
    min-height: 0;
    max-height: $height_xxl;
  }

  @include breakpoint(wide) {
    height: $height_xxl;
    min-height: 0;
    max-height: $height_xxl;
  }

  a {
    display: flex;
    color: $font_color_primary;
    text-decoration: none;
    cursor: default;
    align-items: baseline;

    &.hover_pointer {
      &:hover {
        color: $font_color_grey;
        cursor: pointer;
      }
    }

    &:visited {
      color: $font_color_primary;
    }
  }

  picture {
    max-height: 100%;

    source, img {
      width: 100%;
      max-width: 100%;
      height: auto;
      max-height: 100%;
      object-fit: cover;
    }
  }
}
