<div local-class="logo">
  <LinkTo @route='index' aria-label="Bay Chiro's banner - click to go to home page" local-class="{{unless @indexPage "hover_pointer"}}">
    <picture>
    {{#if (media 'isSmall')}}
      <source 
        srcset='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/3c1f0cdd-2708-4a29-78e7-d2e17f251800/320x100'
        loading="eager"
        alt="Blue swoosh like a wave with Bay Chiropractic Center written in large letters and Dr. Blaine Curtis written below."
        type="image/webp">
      <img
        src='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/3c1f0cdd-2708-4a29-78e7-d2e17f251800/320x100'
        loading="eager"
        alt="Blue swoosh like a wave with Bay Chiropractic Center written in large letters and Dr. Blaine Curtis written below.">
    {{/if}}
    {{#if (media 'isMedium')}}
      <source
        srcset='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/3c1f0cdd-2708-4a29-78e7-d2e17f251800/320x100'
        loading="eager"
        alt="Blue swoosh like a wave with Bay Chiropractic Center written in large letters and Dr. Blaine Curtis written below."
        type="image/webp">
      <img
        src='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/3c1f0cdd-2708-4a29-78e7-d2e17f251800/320x100'
        loading="eager"
        alt="Blue swoosh like a wave with Bay Chiropractic Center written in large letters and Dr. Blaine Curtis written below.">
    {{/if}}
    {{#if (media 'isLarge')}}
      <source
        srcset='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/15301eb2-132e-4c0a-8ea7-dafe9ef39c00/500x100'
        loading="eager" 
        alt="Blue swoosh like a wave with Bay Chiropractic Center written in large letters and Dr. Blaine Curtis written below."
        type="image/webp">
      <img
        src='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/15301eb2-132e-4c0a-8ea7-dafe9ef39c00/500x100'
        loading="eager"
        alt="Blue swoosh like a wave with Bay Chiropractic Center written in large letters and Dr. Blaine Curtis written below.">
    {{/if}}
    {{#if (media 'isWide')}}
      <source
        srcset='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/6ef1fce1-fdfd-4a1c-3155-947736427100/700x100'
        loading="eager"
        alt="Blue swoosh like a wave with Bay Chiropractic Center written in large letters and Dr. Blaine Curtis written below."
        type="image/webp">
      <img
        src='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/6ef1fce1-fdfd-4a1c-3155-947736427100/700x100'
        loading="eager"
        alt="Blue swoosh like a wave with Bay Chiropractic Center written in large letters and Dr. Blaine Curtis written below.">
    {{/if}}
    </picture>
  </LinkTo>
</div>
