<div local-class="logo">
  <LinkTo @route='index' aria-label="Bay Chiro's banner - click to go to home page" local-class="{{unless @indexPage "hover_pointer"}}">
    <picture>
    {{#if (media 'isSmall')}}
      <source
        srcset='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/09627e26-3ed2-45e4-0277-f3f488e79500/320x100'
        loading="eager"
        alt="Blue swoosh like a wave with Bay Chiropractic Center written in large letters and Dr. Blaine Curtis written below."
        type="image/webp">
      <img
        src='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/09627e26-3ed2-45e4-0277-f3f488e79500/320x100'
        loading="eager"
        alt="Blue swoosh like a wave with Bay Chiropractic Center written in large letters and Dr. Blaine Curtis written below.">
    {{/if}}
    {{#if (media 'isMedium')}}
      <source
        srcset='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/09627e26-3ed2-45e4-0277-f3f488e79500/320x100'
        loading="eager"
        alt="Blue swoosh like a wave with Bay Chiropractic Center written in large letters and Dr. Blaine Curtis written below."
        type="image/webp">
      <img
        src='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/09627e26-3ed2-45e4-0277-f3f488e79500/320x100'
        loading="eager"
        alt="Blue swoosh like a wave with Bay Chiropractic Center written in large letters and Dr. Blaine Curtis written below.">
    {{/if}}
    {{#if (media 'isLarge')}}
      <source
        srcset='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/1e105b0e-05ad-4c0a-f7ed-467a0e253c00/500x100'
        loading="eager"
        alt="Blue swoosh like a wave with Bay Chiropractic Center written in large letters and Dr. Blaine Curtis written below."
        type="image/webp">
      <img
        src='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/1e105b0e-05ad-4c0a-f7ed-467a0e253c00/500x100'
        loading="eager"
        alt="Blue swoosh like a wave with Bay Chiropractic Center written in large letters and Dr. Blaine Curtis written below.">
    {{/if}}
    {{#if (media 'isWide')}}
      <source
        srcset='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/5736466f-cd3d-42e3-2d70-387f885c1e00/700x100'
        loading="eager"
        alt="Blue swoosh like a wave with Bay Chiropractic Center written in large letters and Dr. Blaine Curtis written below."
        type="image/webp">
      <img
        src='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/5736466f-cd3d-42e3-2d70-387f885c1e00/700x100'
        loading="eager"
        alt="Blue swoosh like a wave with Bay Chiropractic Center written in large letters and Dr. Blaine Curtis written below.">
    {{/if}}
    </picture>
  </LinkTo>
</div>
