<div local-class="logo">
  <LinkTo @route='index' aria-label="Bay Chiro's banner - click to go to home page" local-class="{{unless @indexPage "hover_pointer"}}">
    <picture>
    {{#if (media 'isSmall')}}
      <source 
        srcset='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/9f987968-a291-4ddb-36db-e00f05c83000/375x100'
        loading="eager"
        alt="Blue swoosh like a wave with Bay Chiropractic Center written in large letters and Dr. Blaine Curtis written below."
        type="image/webp">
      <img
        src='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/9f987968-a291-4ddb-36db-e00f05c83000/375x100'
        loading="eager"
        alt="Blue swoosh like a wave with Bay Chiropractic Center written in large letters and Dr. Blaine Curtis written below.">
    {{/if}}
    {{#if (media 'isMedium')}}
      <source
        srcset='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/2f73c6c1-b3c7-4eca-24ac-098e3dd46200/670x100'
        loading="eager"
        alt="Blue swoosh like a wave with Bay Chiropractic Center written in large letters and Dr. Blaine Curtis written below."
        type="image/webp">
      <img
        src='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/2f73c6c1-b3c7-4eca-24ac-098e3dd46200/670x100'
        loading="eager"
        alt="Blue swoosh like a wave with Bay Chiropractic Center written in large letters and Dr. Blaine Curtis written below.">
    {{/if}}
    {{#if (media 'isLarge')}}
      <source
        srcset='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/2f73c6c1-b3c7-4eca-24ac-098e3dd46200/670x100'
        loading="eager" 
        alt="Blue swoosh like a wave with Bay Chiropractic Center written in large letters and Dr. Blaine Curtis written below."
        type="image/webp">
      <img
        src='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/2f73c6c1-b3c7-4eca-24ac-098e3dd46200/670x100'
        loading="eager"
        alt="Blue swoosh like a wave with Bay Chiropractic Center written in large letters and Dr. Blaine Curtis written below.">
    {{/if}}
    {{#if (media 'isWide')}}
      <source
        srcset='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/2f73c6c1-b3c7-4eca-24ac-098e3dd46200/670x100'
        loading="eager"
        alt="Blue swoosh like a wave with Bay Chiropractic Center written in large letters and Dr. Blaine Curtis written below."
        type="image/webp">
      <img
        src='https://imagedelivery.net/uSmqQyv4nG5_KuZ4KHY0Ew/2f73c6c1-b3c7-4eca-24ac-098e3dd46200/670x100'
        loading="eager"
        alt="Blue swoosh like a wave with Bay Chiropractic Center written in large letters and Dr. Blaine Curtis written below.">
    {{/if}}
    </picture>
  </LinkTo>
</div>
