@import 'global/variables';
@import 'global/breakpoints';

.footer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  @include breakpoint(large) {
    flex-direction: row;
    align-items: flex-end;
  }

  @include breakpoint(wide) {
    flex-direction: row;
    align-items: flex-end;
  }

  .copy_container {
    flex: 1;
    gap: $size_small;
  }
}
