
<div local-class="footer">
  <span local-class="copy_container first">
    <span>
      <LinkTo @route="policies">Privacy Policy</LinkTo>
    </span>
    <span>
      &copy; 2026 Bay Chiropractic Center
    </span>
  </span>
  {{!-- template-lint-disable no-whitespace-for-layout --}}
  <span local-class="copy_container">
    Designed and built by <a href="https://www.designmonster.com">Design Monster LLC</a>
  </span>
</div>
