
<div local-class="footer">
  <span>&copy; 2022 Bay Chiropractic Center</span>
  {{!-- template-lint-disable no-whitespace-for-layout --}}
  <span>Designed and built by &nbsp;<a href="https://www.designmonster.com">Design Monster LLC</a></span>
</div>
