
<div local-class="footer">
  <div><LinkTo @route="policies">Privacy Policy</LinkTo></div>
  <div>  <span>&copy; 2023 Bay Chiropractic Center</span>
  {{!-- template-lint-disable no-whitespace-for-layout --}}
  <span>Designed and built by &nbsp;<a href="https://www.designmonster.com">Design Monster LLC</a></span></div>
</div>
